<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>map</title>
    <style>
        #map{
            width: 100%;
            height: 100vh;
        }
    </style>
</head>
<body>
{% for flash_message in app.session.flashBag.get('error') %}
    <div class="alert alert-warning" role="alert">
        {{ flash_message }}
    </div>
{% endfor %}
{{ coordinates['lat'] }}, {{ coordinates['lon'] }}, {{ coordinates['display_name'] }}
<form action="/app_geolocation" method="post">
    <input type='text' name='address' placeholder='Enter any address here' />
    <input type='submit' value='Search!' />
</form>
<div id="map"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script>
    let mapOptions = {
        center: [{{ coordinates['lat'] }}, {{ coordinates['lon'] }}],
        zoom: 10
    }

    let map = new L.map('map', mapOptions);

    let layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
    map.addLayer(layer);

    let marker = new L.Marker([{{ coordinates['lat'] }}, {{ coordinates['lon'] }}]);
    marker.addTo(map);

</script>
</body>
</html>